@using ZenithSocietyCore.Controllers;
@model List<HomeController.DayInfo>

@{
    ViewBag.Title = "Home Page";
}
@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div class="container text-center">
        <div class="jumbotron">
            <p class="text-capitalize">It's Nice To Meet You</p>
            <h1 class="text-center">Welcome To Zenith Society!</h1>
        </div>
    </div>
</header>

<div class="container-fluid ce">
    <table class="table">

        @foreach (var day in Model)
        {
            // displaying the heading date
            DateTime date = day.Day;
            string headingDate = date.ToString("MMMM:dd:yyyy");
            <tr>
                <th colspan="2" class="text-center label-info">
                    @headingDate
                </th>
            </tr>
            foreach (var e in day.Events)
            {
                // displaying the start time
                DateTime startTimeRaw = DateTime.Parse(e.Start.ToString());
                string startTime = startTimeRaw.ToString("hh:mm:tt");

                // displaying end time
                DateTime endTimeRaw = DateTime.Parse(e.End.ToString());
                string endTime = endTimeRaw.ToString("hh:mm:tt");

                // displaying activity description
                string description = e.Description;

                <tr>
                    <td>
                        @startTime  -
                        @endTime
                    </td>
                    <td>
                        @description
                    </td>
                </tr>
            }
        }

    </table>
</div>